// Global
body {
	background-color: white;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;

	img {
		max-width: 100%;
		height: auto;
	}
}

#articles {
	min-height: 500px;
}