// Brand Colours
$primary: #74FBF2;
$secondary: #0FE0D2;
$success: #002545;
$info: #F5F8FF;
$warning: #E0E4F4;
$white: #fff;

$body-bg: white;
$body-color: $success;

// Grid
$grid-columns:	24;

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px
) !default;

// Fonts
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-base: $font-family-sans-serif !default;

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";