// Buttons
.btn {
	font-weight: 600 !important;
}

.btn-primary {
	&:hover {
		background-color: $success !important;
		border-color: $success !important;
		color: white !important;
	}
}

.badge {
	margin-top: 1rem;
	font-weight: 600 !important;

	&:hover {
		background-color: white !important;
		border-color: white !important;
		color: $success !important;
	}
}