// Blog listing
.blog-listing {
	@include boxShadow;
	margin-top: 1rem;
	height: 100%;

	h5 {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	&__info {
		padding: 1rem;
	}

	&__tags-title {
		background-color: $secondary;
		padding: 1rem;

		h3 {
			font-size: 19px !important;
		}

		h5 {
			font-size: 16px !important;
		}
	}

	&--featured {
		box-shadow: none !important;
		padding: 0 !important;
	}
}